body{
    background-color: #efefef;
}
.que{
    background-color: white;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.image{
    width:40px;
    border-radius: 50%;
}
.image-noRadius{
    width:40px;
}
.main{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.profile .section{
    margin-top:20px;
}
.question-menu{
    display: block;
    margin-bottom: 15px;
    color:#999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.error{
    margin-left: 40px;
    margin-top: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.question-name{
    padding-top:10px;
}
.comment-section{
    padding-bottom: 6px;
    margin-bottom: 15px;
    border-bottom: #eee 1px solid;
}
.comment-textarea{
    margin: 10px 0;
}
.comment-btn{
    font-size: 13px;
    float:right;
    margin-bottom: 15px;
}
.comment-menu{
    color: #999;
    margin-top: 10px;
}
.comment-menu .icon{
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.comment-menu .icon:active{
    color: #499ef3;
}
.comment-menu .icon:hover{
    color: #499ef3;
}
.sub-comments{
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
