<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/common/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body>

<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main que profile">
    <div class="row" >
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span> </h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'questions'}">
                <div class="media" th:each="question:${pageDto.T}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object image" th:src="${question.gitHubUser.imageUrl}" >
                        <!-- https://avatars1.githubusercontent.com/u/64819148?v=4 -->
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}">...test</span><br/>
                    <span class="text-desc">
                        •<span th:text="${question.likeCount}">1</span>人关注
                        •<span th:text="${question.commentCount}">1</span>个回复
                        •<span th:text="${question.viewCount}">1</span>次浏览
                        •<span th:text="${#dates.format(question.qsCreateTime,'dd MMMM yy')}"></span>
                    </span>
                </div>
            </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pageDto.showFirstPage}">
                            <a th:href="@{/profile/{section}/(section=${section},pageIndex=1)}">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pageDto.showPrevious}">
                            <a th:href="@{/profile/{section}/(section=${section},pageIndex=${pageDto.currentPage -1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:class="${pageDto.currentPage == page}?'active':''" th:each="page : ${pageDto.pageLists}"><a href="/" th:text="${page}" th:href="@{/profile/questions/(pageIndex = ${page})}"></a></li>
                        <li th:if="${pageDto.showNext}">
                            <a th:href="@{/profile/{section}/(section=${section},pageIndex=${pageDto.currentPage +1})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pageDto.showEndPage}">
                            <a th:href="@{/profile/{section}/(section=${section},pageIndex=${pageDto.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                最新回复
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-md-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"  th:class="${section=='questions'}?'active list-group-item':'list-group-item'">
                    我的帖子
                    <span class="badge" th:text="${pageDto.count}"></span>
                </a>
                <a href="/profile/like"  th:class="${section=='like'}?'list-group-item active':'list-group-item'">我关注的</a>
                <a href="/profile/replies"  th:class="${section == 'replies'?'list-group-item active':'list-group-item'}">最新回复
                    <span class="badge" th:text="${unreadCount}">14</span>
                </a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div><!-- .container-fluid -->

</body>

</html>