<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>发布 - 仲园bbs</title>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="common/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">仲园bbs</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">分类1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">分类2</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="/publish">发帖</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.zkGithubUsername}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">收信处</a></li>
                        <li><a href="#">话题盒子</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出论坛</a></li>
                    </ul>
                </li>
                <li th:unless="${session.user != null}"><a href="https://github.com/login/oauth/authorize?client_id=b2590594b9734f988b36&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main que">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">主题名 (简单扼要)：</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="主题名...">
                </div>
                <div class="form-group">
                    <label for="question-desc">简单描述（必填，请参照右侧提示）：</label>
                    <input type="text" class="form-control" th:value="${questionDesc}" id="question-desc" name="question-desc" placeholder="简单描述...">
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="多标签以，分隔..">
                </div>
                <div class="container-fluid main que">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" style="width: 100%" th:if="${message!=null}" th:text="${message}"></div>
                        <button type="submit" class="btn btn-success btn-publish"> 确认发帖</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-md-12 col-xs-12">
            <h3>发帖注意事项</h3>
            -帖子主题简明扼要<br/>
            -补充说明简单描述<br/>
            -输入标签时如果有多个标签请使用逗号分隔开
        </div>
    </div>
</div><!-- .container-fluid -->

</body>

</html>