<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/common/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
</head>

<body>

<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main que profile">
    <div class="row col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${question.title}"></span></h3>
                <span class="text-desc">
                作者：<span th:text="${question.gitHubUser.zkGithubUsername}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span> |
                发布时间：<span th:text="${#dates.format(question.qsCreateTime,'yyyy-MM-dd HH:mm')}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag" th:each="tag : ${question.tag.split('，')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info tagtext" th:text="${tag}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${question.id}}" class="question-menu"
                       th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        编辑
                    </a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 style="margin-left: 15px">
                    <span th:text="${count}"></span>个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media comment-section" th:each="comment:${commentList}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object image" th:src="${comment.user.imageUrl}">
                                <!-- https://avatars1.githubusercontent.com/u/64819148?v=4 -->
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.zkGithubUsername}"></span>
                            </h5>
                            <div><span th:text="${comment.zkComment}"></span></div>
                            <div class="comment-menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span th:data-id="${comment.id}" onclick="openCollapse(this)" class="icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.commentCreateTime,'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-'+comment.id}">
                                <!-- 二级评论区 -->
                                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="secondComment">-->
                                    <!--<div class="media comment-section" th:each="comment:${commentList}">-->
                                    <!--<div class="media-left">-->
                                        <!--<a href="#">-->
                                            <!--<img class="media-object image" th:src="${comment.user.imageUrl}">-->
                                            <!--&lt;!&ndash; https://avatars1.githubusercontent.com/u/64819148?v=4 &ndash;&gt;-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<h5 class="media-heading">-->
                                            <!--<span th:text="${comment.user.zkGithubUsername}"></span>-->
                                        <!--</h5>-->
                                        <!--<div><span th:text="${comment.zkComment}"></span></div>-->
                                        <!--<div class="comment-menu">-->
                                            <!--&lt;!&ndash;<span class="glyphicon glyphicon-thumbs-up icon"></span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}" onclick="openCollapse(this)"></span>&ndash;&gt;-->
                                            <!--<span class="pull-right"-->
                                                  <!--th:text="${#dates.format(comment.commentCreateTime,'yyyy-MM-dd')}"></span>-->
                                        <!--</div>-->
                                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse" th:id="${'comment-'+comment.id}">-->
                                            <!--二级回复-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下..." th:id="${'second-'+comment.id}">
                                    <button type="button" class="btn btn-success pull-right" style="margin: 10px 0" onclick="secondCommentCommit(this)" th:data-id="${comment.id}">评论</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object image" th:src="${question.gitHubUser.imageUrl}">
                        <!-- https://avatars1.githubusercontent.com/u/64819148?v=4 -->
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <span class="question-name" th:text="${question.gitHubUser.zkGithubUsername}"></span>
                    </h5>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control comment-textarea" id="commentContent" rows="6"></textarea>
                <button type="button" class="btn btn-success comment-btn" onclick="commentCommit()">回复</button>
            </div>
        </div>
        </div>
    <div class="col-lg-3 col-md-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object image" th:src="${question.gitHubUser.imageUrl}">
                            <!-- https://avatars1.githubusercontent.com/u/64819148?v=4 -->
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.gitHubUser.zkGithubUsername}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                <h3>相关问题</h3>
                <ul>
                    <li class="question-related" th:each="related : ${related}">
                        <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- .container-fluid -->

</body>

</html>